//======================================================================
.footer {
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: flex;
	}
	// .footer__column
	&__column {
		flex: 0 1 50%;
		margin: 0px 0px 25px 0px;
	}
	// .footer__block
	&__block {
	}
	// .footer__widgets
	&__widgets {
	}
	// .footer__bottom
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #dadada;
	}
	// .footer__copy
	&__copy {
		flex: 1 1 auto;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.5;
		color: #999;
	}
	// .footer__social
	&__social {
		padding: 15px 7.5px;
	}
	// .footer__payments
	&__payments {
		display: flex;
		justify-content: flex-start;
		margin: 0px -12px;
	}
	// .footer__payment
	&__payment {
		padding: 0px 12px;
		height: 24px;
		img {
			max-width: 100%;
		}
	}
}

.block-footer {
	display: flex;
	flex: 1 1 auto;
	margin: 0px 0px 20px 0px;
	// .block-footer__column
	&__column {
	}
	// .block-footer__phones
	&__phones {
		position: relative;
		padding: 0px 0px 0px 40px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 25px;

			background: url("../img/icons/footer/phone.png") 0 0 no-repeat;
		}
		font-size: 14px;
		font-weight: 900;
		line-height: 1.29;
	}
	// .block-footer__phone
	&__phone {
		color: #333;
	}
	// .block-footer__delivery
	&__delivery {
	}
}
.logo-footer {
}
.delivery-footer {
	// .delivery-footer__title
	&__title {
	}
	// .delivery-footer__items
	&__items {
	}
	// .delivery-footer__item
	&__item {
	}
}
.widgets-footer {
	display: flex;
	justify-content: flex-end;
	margin: 0px -3.5px;
	// .widgets-footer__column
	&__column {
		padding: 0px 3.5px;
		flex: 0 1 50%;
		img {
			max-width: 100%;
		}
	}
}
.social-footer {
	// .social-footer__item
	&__item {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin: 0px 7.5px;
		img {
			max-width: 100%;
		}
	}
}
