//<FORM ()>======================================================================
.form {
	//.form__row
	&__row {
	}
	//.form__column
	&__column {
	}
	//.form__line
	&__line {
	}
	//.form__input
	&__input {
	}
	//.form__button
	&__button {
	}
	//.form__error
	&__error {
	}
}
//</FORM ()>======================================================================

//<BUTTON (a.btn+tab)>======================================================================
.btn {
	display: inline-flex;
	padding: 0px 25px;
	justify-content: center;
	align-items: center;
	height: 39px;
	object-fit: contain;
	background-color: #f68038;
	color: #fff;
	transition: all 0.5s ease 0s;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12px;
	line-height: 18px;
	//Mob-First md3+px
	@media (min-width: ($md3+px)) {
		&:hover {
			background-color: #fc6000;
		}
	}
	&._fw {
		width: 100%;
	}
}
//</BUTTON()>======================================================================

//<SELECT (sel+tab)>======================================================================
.select {
	position: relative;
	//.select__item
	&__item {
	}
}
//</SELECT (sel+tab)>======================================================================

//<INPUT (inp+tab)>======================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</INPUT>======================================================================

//<CHECKBOX (chk+tab)>======================================================================
.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0%;
		height: 0%;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text::before {
			background: #fff url("../img/icons/check.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #fff;
		letter-spacing: -0.3;
		line-height: calc(20 / 16 * 100%);
		cursor: pointer;
		&::before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 1 1 20px;
			top: 0;
			left: 0;
			width: 20px;
			height: 18px;
			background-color: #fff;
			border: 1px solid #a7a9ac;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		//Mob-First md2+px
		@media (min-width: ($md2+px)) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	//.checkbox__error
	&__error {
	}
}
//</CHECKBOX>======================================================================
