//<.mainslider>======================================================================
.mainslider {
	// .mainslider__body

	&__body {
	}
	// .mainslider__slide
	&__slide {
	}
	// .mainslider__content
	&__content {
		position: relative;
		z-index: 3;
	}
	// .mainslider__images
	&__image {
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	// .mainslider__dotts
	&__dotts {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		margin: -27.5px 0px 0px 0px;
		// автоподсчет
		counter-reset: item;
		.swiper-pagination-bullet {
			margin: 0px 23px;
			position: relative;
			height: 55px;
			width: 55px;
			border-radius: 50%;
			overflow: hidden;
			border: 3px solid #fff;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			&::after {
				opacity: 0;
				transition: all 0.3s ease 0s;
				font-size: 16px;
				font-weight: 900;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				background-color: #f68038;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				counter-increment: item;
				content: counter(item);
			}
		}
		.swiper-pagination-bullet-active {
			&::after {
				opacity: 1;
			}
		}
	}
}
//</.mainslider>======================================================================

//<.content-mainslider>======================================================================
.content-mainslider {
	padding: 20px 35px 55px 35px;
	// .content-mainslider__title
	&__title {
		font-size: 48px;
		font-weight: 900;
		line-height: 43px;
		text-align: left;
		color: #333;
		text-transform: uppercase;
		margin: 0px 0px 55px 0px;
		span {
			display: block;
			color: #f68038;
		}
	}
	// .content-mainslider__text
	&__text {
	}
	// .content-mainslider__footer
	&__footer {
		text-align: center;
		padding: 15px 0px 0px 0px;
		// margin: 0px 0px 40px 0px;
	}
	// .content-mainslider__prise
	&__prise {
		font-size: 36px;
		font-weight: 900;
		line-height: 0.67;
		color: #fff;
		margin: 0px 0px 25px 0px;
		&::after {
			font-size: 30px;
			margin: 0px 0px 0px 10px;
		}
	}
	// .content-mainslider__button
	&__button {
		font-weight: 900;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		border: 3px solid #fff;
		border-radius: 15px;
		padding: 0px 20px;
		height: 33px;
		span {
			text-transform: uppercase;
			padding: 0px 30px 0px 0px;
			background: url("../img/icons/slider/btn_arrow.png") right 0 no-repeat;
			// width: 14px;
			// height: 14px;
			// top: 6px;
			// right: 10px;
		}
	}
}
//</.content-mainslider>======================================================================

//<.text-mainslider>======================================================================
.text-mainslider {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 24px;
	color: #333;

	// .text-mainslider__orange
	&__orange {
		color: #f68038;
		font-size: 18px;
	}

	// .text-mainslider__mark
	&__mark {
		background-color: #979797;
		color: #fff;
		font-weight: 900;
		// line-height: 1.71;
		padding: 5px 10px;
		display: inline-block;
	}
	// .text-mainslider__gray
	&__gray {
		color: #979797;
	}
}
//</.text-mainslider>======================================================================

//<.products-slider>======================================================================
.products-slider {
	// .products-slider__header
	&__header {
		margin: 0px 0px 15px 0px;
		//Mob-First md3+px
		@media (min-width: ($md3+px)) {
			display: flex;
			justify-content: center;
			margin: 0px 0px 30px 0px;
		}
	}
	// .products-slider__title
	&__title {
		flex: 1 1 auto;
		font-size: 36px;
		font-weight: 900;
		letter-spacing: 0.9px;
		color: #dadada;
		//Mob-First md3+px
		@media (max-width: ($md3+px)) {
			text-align: center;
			margin: 0px 0px 10px 0px;
		}
	}
	// .products-slider__arrows
	&__arrows {
		display: flex;
		align-items: center;

		//PC-First md3+px
		@media (max-width: ($md3+px)) {
			justify-content: center;
		}
	}
	// .products-slider__arrow
	&__arrow {
		// .products-slider__arrow_prev
		&_prev {
		}
		// .products-slider__arrow_next
		&_next {
		}
	}
	// .products-slider__info
	&__info {
		text-align: center;
		flex: 0 0 50px;
		color: #999;
		font-weight: 500;
		margin: 0px 10px;
		.swiper-pagination-current {
			color: #333;
			font-size: 30px;
			font-weight: 900;
			letter-spacing: 0.75px;
		}
	}
	// .products-slider__body
	&__body {
	}
	// .products-slider__slide
	&__slide {
	}
	// .products-slider__items
	&__items {
	}
}
//</.products-slider>======================================================================
.brands-slider {
	border-top: 3px dashed #dadada;
	border-bottom: 3px dashed #dadada;
	padding: 25px 0px;
	// .brands-slider__container
	&__container {
		position: relative;
		padding: 0px 40px;
	}
	// .brands-slider__body
	&__body {
		margin: 0px 35px;
		// padding: 0px 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .brands-slider__slide
	&__slide {
		align-self: center;
		text-align: center;
		padding: 0px 10px;
		img {
			transition: all 0.3s ease 0s;
			@extend %graystyle;
			max-width: 100%;
			//Mob-First $md2+px
			&:hover {
				@extend %graystyleoff;
			}
		}
	}
	// .brands-slider__arrows
	&__arrows {
	}
	// .brands-slider__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		margin: -15px 0px 0px 0px;
		// .brands-slider__arrow_prev
		&_prev {
			left: 10px;
			//Mob-First md1+px
			@media (min-width: ($md1+px)) {
				left: 0;
			}
		}
		// .brands-slider__arrow_next
		&_next {
			right: 10px;
			//Mob-First md1+px
			@media (min-width: ($md1+px)) {
				right: 0;
			}
		}
	}
}

.text-block {
	// .text-block__container
	&__container {
	}
	// .text-block__body
	&__body {
		background: url("../img/icons/bg_text.png") 0 0 repeat;
		padding: 45px 30px 60px 0px;
	}
	// .text-block__title
	&__title {
		margin: 0px 0px 30px 30px;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 0.75px;
		color: #22b7ca;
		text-transform: uppercase;
	}
	// .text-block__row
	&__row {
		display: flex;
	}
	// .text-block__column
	&__column {
		flex: 0 1 50%;
		padding: 0px 30px;
		color: #fff;
		position: relative;
		p {
			margin: 0px 0px 30px 0px;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: 0.3px;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	// .text-block__label
	&__label {
		text-transform: uppercase;
		font-weight: 900;
		margin: 0px 0px 5px 0px;
	}
	// .text-block__list
	&__list {
		li {
			// padding: 0px 0px 0px 30px;
			font-size: 12px;
			line-height: 24px;
			letter-spacing: 0.3px;
			margin: 0px 0px 5px 0px;
			&:last-child {
				margin: 0px 0px 5px 0px;
			}
			&::before {
				margin: 0px 17px 0px 7px;
				content: "";
				display: inline-block;
				width: 11px;
				height: 11px;
				background: url("../img/icons/arrow_text.png") 0 0 no-repeat;
			}
		}
	}
	&__image {
		// background: url("../img/icons/bike.png") 0 0 no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;

		top: 440px;
		left: 200px;
	}
}
