//======================================================================
.mainslider {
	// .mainslider__body
	&__body {
	}
	// .mainslider__slide
	&__slide {
		position: relative;
	}
	// .mainslider__content
	&__content {
		position: relative;
		z-index: 2;
	}
	// .mainslider__image
	&__image {
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	// .mainslider__dotts
	&__dotts {
	}
}

.content-mainslider {
	padding: 20px 35px;
	// .content-mainslider__title
	&__title {
		font-size: 48px;
		font-weight: 900;
		line-height: 43px;
		text-align: left;
		color: #333;
		text-transform: uppercase;
		margin: 0px 0px 55px 0px;
		span {
			display: block;
			color: #f68038;
		}
	}
	// .content-mainslider__text
	&__text {
	}
	// .content-mainslider__footer
	&__footer {
		text-align: center;
		margin: 0px 0px 40px 0px;
	}
	// .content-mainslider__prise
	&__prise {
		font-size: 36px;
		font-weight: 900;
		line-height: 0.67;
		color: #fff;
		margin: 0px 0px 25px 0px;
	}
	// .content-mainslider__button
	&__button {
		text-transform: uppercase;
		position: relative;
		font-size: 14px;
		font-weight: 900;
		line-height: 1.71;
		color: #fff;
		border: 4px solid #fff;
		border-radius: 15px;
		padding: 5px 40px 5px 20px;
		span {
			position: absolute;
			background: url("../img/icons/slider/btn_arrow.png") center/contain no-repeat;
			width: 14px;
			height: 14px;
			top: 6px;
			right: 10px;
		}
	}
}
.text-mainslider {
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 24px;
	color: #333;

	// .text-mainslider__orange
	&__orange {
		color: #f68038;
		font-size: 18px;
	}

	// .text-mainslider__mark
	&__mark {
		background-color: #979797;
		color: #fff;
		font-weight: 900;
		// line-height: 1.71;
		padding: 5px 10px;
		display: inline-block;
	}
	// .text-mainslider__gray
	&__gray {
		color: #979797;
	}
}
//======================================================================
