.product {
	// .product__title
	&__title {
		font-size: 36px;
		font-weight: 900;
		color: #333;
		margin: 0px 0px 20px 0px;
		text-transform: uppercase;
		span {
			display: block;
			margin: 5px 0px 0px 0px;
			font-size: 30px;
			color: #dadada;
		}
	}
	// .product__content
	&__content {
		display: flex;
	}
	// .product__images
	&__images {
		flex: 0 0 42.5%;
		min-width: 0%;
	}
	// .product__body
	&__body {
		flex: 1 1 auto;
		margin: 0px 0px 0px 30px;
	}
}
//======================================================================
.images-product {
	// .images-product__mainslider
	&__mainslider {
		margin: 0px 0px 15px 0px;
		// border: 1px solid #999;
		border: 1px solid #e4e4e4;
	}
	// .images-product__mainslide
	&__mainslide {
		height: 308px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	// .images-product__sale
	&__sale {
		position: absolute;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 35px;
		left: 35px;
		color: #fff;
		font-weight: 900;
		font-size: 16px;
		background-color: #f65738;
	}
	// .images-product__image
	&__image {
	}
	// .images-product__subslider
	&__subslider {
		margin: 0px -6px;
	}
	// .images-product__subslide
	&__subslide {
		padding: 0px 6px;
		&.swiper-slide-thumb-active {
			.images-product__subimage {
				border: 1px solid #f65738;
				&::after {
					content: "";
					opacity: 1;
				}
			}
		}
	}
	// .images-product__subimage
	&__subimage {
		transition: all 0.5s ease 0s;
		border: 1px solid #e4e4e4;
		height: 68px;
		&::after {
			transition: all 0.5s ease 0s;
			content: "";
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border: 3px solid #f65738;
		}
	}
}
//======================================================================
.body-product {
	// .body-product__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 12px 0px;
	}
	// .body-product__compare
	&__compare {
		display: flex;
		background-color: #f3f3f3;
		min-height: 33px;
		border-radius: 25px;
		justify-content: center;
		align-items: center;
		padding: 0px 30px;
		color: #666;
		text-transform: uppercase;
		font-weight: 900;

		span {
			background: url("../img/icons/product/compare-grey.png") left no-repeat;
			padding: 0px 0px 0px 30px;
			line-height: 21px;
		}
	}
	// .body-product__stock
	&__stock {
		height: 21px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f65738;
		color: #fff;
		padding: 0px 10px;
		border-radius: 15px;
	}
	// .body-product__actions
	&__actions {
		margin: 0px 0px 22px 0px;
	}
	// .body-product__cervices
	&__cervices {
	}
}
.actions-product {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding: 30px 0;
	// .actions-product__row
	&__row {
		display: flex;
		// justify-content: space-between;
		align-items: center;
		margin: 0px -10px;
	}
	// .actions-product__column
	&__column {
		padding: 0px 10px;
		flex: 1 1 auto;
	}
	// .actions-product__price
	&__price {
		font-size: 24px;
		color: #333333;
		font-weight: 900;
		&:after {
			font-size: 18px;
		}
		// .actions-product__price_old
		&_old {
			color: #999;
			font-size: 18px;
			font-weight: 300;
			text-decoration: line-through;
			margin: 0px 0px 5px 0px;
			&:after {
				font-size: 16px;
			}
		}
	}
	// .actions-product__quantity
	&__quantity {
	}
	// .actions-product__cart
	&__cart {
		position: relative;
		height: 57px;
		display: flex;
		align-items: center;
		padding: 0px 45px 0px 0px;
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 34px;
			background-color: #f3f3f3;
			padding: 0px 15px;
			text-transform: uppercase;
			font-weight: 900;
			color: #999;
		}
		&::after {
			content: "";
			width: 57px;
			height: 57px;
			position: absolute;
			top: 0;
			right: 0;
			background: url("../img/icons/popular/card-orange.webp") right no-repeat;
		}
	}
}
//======================================================================
.quantity {
	// .quantity__button
	&__button {
		// .quantity__button_minus
		&_minus {
		}
		// .quantity__button_plus
		&_plus {
		}
	}
	// .quantity__input
	&__input {
	}
}
//======================================================================
.cervices-product {
	// .cervices-product__title
	&__title {
		height: 10px;
		font-size: 14px;
		font-weight: 900;
		color: #333;
		text-transform: uppercase;
		margin: 0px 0px 25px 0px;
	}
	// .cervices-product__body
	&__body {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0px -35px;
	}

	// .cervices-product__column
	&__column {
		padding: 0px 35px;
		flex: 0 1 80px;
	}
	// .cervices-product__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	// .cervices-product__image
	&__image {
		flex: 1 1 auto;
		position: relative;
		margin: 0px 0px 10px 0px;
		width: 40px;
		height: 40px;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: contain;
		}
	}
	// .cervices-product__label
	&__label {
		flex: 0 0 30px;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.33;
		color: #999;
		text-align: center;
	}
}
