//<МИКСИНЫ>=================================
@import "mixins";
//</МИКСИНЫ>=================================

//<ШРИФТЫ>=================================

//<Подключаем шрифты>=================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=================================

//<Иконочные шрифты>=================================
@import "icons";
//</Иконочные шрифты>=================================

//<Иконочные шрифты>=================================
@import "swiper-bundle";
//</Иконочные шрифты>=================================

//<Шрифт по умолчанию>=================================
$fontFamily: "Roboto";
//</Шрифт по умолчанию>=================================

//</ШРИФТЫ>=================================

//<ПЕРЕМЕННЫЕ>=================================
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12; //1192px
$md2: 992;
$md3: 768;
$md4: 640;
//</ПЕРЕМЕННЫЕ>=================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=================================

//<ОБОЛОЧКА>=================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>=================================

//<ОСНОВНАЯ СЕТКА>=================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0px auto;
	padding: 0px 20px;
	//PC-First 768px
	@media (max-width: ($md3+px)) {
		padding: 0 10px;
	}
	//PC-First md4+px
	@media (max-width: ($md4+px)) {
		padding: 0px 5px;
	}
}
//</ОСНОВНАЯ СЕТКА>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================
//@import "datepicker";
//@import "lightgallary";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================================

//<ОСНОВНОЙ БЛОК>=================================
//</.page>======================================================================
.page {
	flex: 1 1 auto;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 75px 0px 0px 0px;
	//Mob-First md3+px
	@media (min-width: 480px) {
		padding: 85px 0px 0px 0px;
	}
	//Mob-First md4+px
	@media (min-width: ($md4+px)) {
		padding: 150px 0px 0px 0px;
	}
	//Mob-First md3+px
	@media (min-width: ($md3+px)) {
		padding: 170px 0px 0px 0px;
	}

	// .page__container
	&__container {
		//Mob-First md2+px
		@media (min-width: ($md2+px)) {
			display: flex;
		}
	}
	// .page__side
	&__side {
		flex: 0 0 260px;
		position: relative;
		z-index: 9;
	}
	// .page__menu
	&__menu {
		margin: 0px 0px 40px 0px;
		//PC-First md2+px
		@media (max-width: ($md2+px)) {
			margin: 0px 0px 22px 0px;
		}
		@media (max-width: 640px) {
			margin: 0px 0px 12px 0px;
		}
	}
	// .page__content
	&__content {
		min-width: 0;
		flex: 1 1 auto;
		// margin: 160px 0px 0px 0px;
		//Mob-First md2+px
		@media (min-width: ($md2+px)) {
			padding: 0px 0px 0px 30px;
		}
	}
	// .page__search
	&__search {
		position: relative;
		z-index: 2;
		margin: 0px 0px 22px 0px;
	}
	// .page__slider
	&__slider {
		margin: 0px 0px 65px 0px;
	}
	// .page__side-news
	&__side-news {
		margin: 0px 0px 45px 0px;
	}
	// .page__side-reviews
	&__side-reviews {
	}
}
//</.page>======================================================================

//<.menu-page>======================================================================
.menu-page {
	position: relative;
	background: url("@img/icons/Left-bar/bg_menu.png") top repeat;
	// .menu-page__header
	&__header {
		display: flex;
		padding: 20px;
		align-items: center;
		//PC-First md4+px
		@media (max-width: 480px) {
			padding: 10px;
		}
	}
	// .menu-page__title
	&__title {
		flex: 1 1 auto;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 0.75px;
		text-transform: uppercase;
		// font-family: UniSans;
		line-height: calc(35 / 30 * 100%);
		color: #fff;
		//PC-First
		@media (max-width: 480px) {
			font-size: 22px;
		}
	}
	// .menu-page__burger
	&__burger {
		flex: 0 0 36px;
		width: 36px;
		height: 36px;
		background-color: #068292;
		position: relative;
		// top: 0px;
		// left: 10px;
		cursor: pointer;
		// display: inline-block;
		z-index: 6;
		padding: 10px 6px;

		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
	// .menu-page__lines
	&__lines {
		height: 16px;
		position: relative;
		span {
			transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			position: absolute;
			width: 100%;
			height: 2px;
			top: calc(50% - 1px);
			left: 0;
			background-color: #fff;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
	}
	// .menu-page__body
	&__body {
		display: none;
		&._active {
			display: block;
		}
	}
	// .menu-page__list
	&__list {
		> li {
			border-bottom: 1px solid #1aa7b9;
		}
	}
	// .menu-page__parent
	&__parent {
		.menu-page__link {
			&::after {
				content: "";
				transition: all 0.3s ease 0s;
				width: 14px;
				height: 14px;
				top: 50%;
				position: absolute;
				right: 10px;
				transform: translate(0px, -50%);
				background: url("@img/icons/Left-bar/arrow-right.webp") 0 0 no-repeat;
				@media (max-width: ($md2+px)) {
					transform: translate(0px, -50%) rotate(90deg);
				}
			}
			//PC-First md2+px
		}
		&._active {
			.submenu-page__item {
				display: block;
				//Mob-First md2+px
				@media (min-width: ($md2+px)) {
					transform: translate(0%, 0%);
					z-index: 3;
				}
			}
			.menu-page__link {
				background-color: #098494;
				//PC-First md2+px
				@media (max-width: ($md2+px)) {
					&::after {
						transform: translate(0px, -50%) rotate(-90deg);
					}
				}
			}
			.menu-page__submenu {
				pointer-events: all;
			}
		}
	}
	// .menu-page__link
	&__link {
		// .menu-page__link_parent
		font-size: 12px;
		letter-spacing: 0.3px;
		font-weight: 300;
		color: #fff;
		display: block;
		padding: 12px 20px;
		position: relative;
		@media (min-width: ($md2+px)) {
			&:hover {
				background-color: #098494;
			}
		}
	}
	// .menu-page__submenu
	&__submenu {
		//Mob-First md2+px
		@media (min-width: ($md2+px)) {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 100%;
			overflow: hidden;
			pointer-events: none;
		}
	}
}
//</.menu-page>======================================================================

//<.submenu-page>======================================================================
.submenu-page {
	//Mob-First md2+px
	@media (max-width: ($md2+px)) {
		background-color: #fff;
	}
	// .submenu-page__item
	&__item {
		display: none;
		//Mob-First md2+px
		@media (min-width: ($md2+px)) {
			display: block;
			background-color: #fff;
			border: 2px solid #098494;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: all 0.5s ease 0s;
			transform: translate(-100%, 0);
		}
	}
	// .submenu-page__menu
	&__menu {
		padding: 20px 0;
		border-bottom: 2px solid #dedede;
		li {
			// padding: 5px 0px;
		}
	}
	// .submenu-page__link
	&__link {
		display: block;
		color: #1ab9ce;
		padding: 10px 40px;
		font-size: 12px;
		font-weight: 300;
		@media (min-width: ($md2+px)) {
			&:hover {
				background-color: #71c7d3;
				color: #fff;
			}
		}
		//PC-First md2+px
		@media (max-width: ($md2+px)) {
			padding: 5px 20px;
			font-size: 14px;
		}
	}
	// .submenu-page__product
	&__product {
		padding: 0px 15px;
		//Mob-First md2+px
		@media (max-width: ($md2+px)) {
			display: none;
		}
	}
}
//</.submenu-page>======================================================================

//<.item-product>======================================================================
.item-product {
	padding: 15px;
	position: relative;

	// .item-product__labels
	&__labels {
		position: absolute;
		top: 15px;
		left: 15px;
	}
	// .item-product__label
	&__label {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 21px;
		padding: 5px 15px;
		margin: 0px 0px 5px 0px;
		background-color: #f68038;
		border-radius: 15px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 900;
		&:last-child {
			margin: 0;
		}
	}
	// .item-product__image
	&__image {
		height: 195px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 175px;
		}
	}
	// .item-product__body
	&__body {
		padding: 0 10px;
	}
	// .item-product__title
	&__title {
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		color: #36949f;
		display: inline-block;
		margin: 0px 0px 5px 0px;
		&:hover {
			text-decoration: underline;
		}
	}
	// .item-product__footer
	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	// .item-product__old-price
	&__old-price {
		flex: 1 1 100%;
		color: #999;
		text-align: right;
		font-size: 18px;
		font-weight: 300;
		text-decoration: line-through;
		&:after {
			font-size: 16px;
		}
	}
	// .item-product__add
	&__add {
		width: 40px;
		height: 40px;
		background: url("@img/icons/header/cart.png") center/cover no-repeat;
		@media (min-width: ($md2+px)) {
			&:hover {
				background: url("@img/icons/header/cart-hover.png") center/cover no-repeat;
			}
		}
	}
	// .item-product__price
	&__price {
		font-size: 24px;
		color: #333333;
		font-weight: 900;
		&:after {
			font-size: 18px;
		}
	}
}
//</.item-product>======================================================================

//<.search-page>======================================================================
.search-page {
	// padding: 160px 0px 0px 0px;
	display: flex;
	position: relative;
	// .search-page__select
	&__select {
		cursor: pointer;
		display: flex;
		// padding: 0px 14px;
		background-color: #f3f3f3;
		justify-content: center;
		align-items: center;
		//Mob-First md4+px
		@media (max-width: 480px) {
			display: none;
		}
	}
	// .search-page__title
	&__title {
		// display: flex;
		// align-items: center;
		display: block;
		position: relative;
		padding: 13px 30px;
		span {
			margin: 0px 13px;
			color: #666666;
			font-weight: 300;
			border-bottom: 1px dashed #666666;
			&:last-child {
				display: none;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 30%;
			left: 13px;
			height: 17px;
			width: 17px;
			background: url("@img/icons/Search.png") 0 0 no-repeat;
		}
		&::after {
			content: "";
			width: 12px;
			height: 12px;
			top: 38%;
			right: 15px;
			position: absolute;
			transition: all 0.3s ease 0s;
			background: url("@img/icons/search_arrow.png") center/contain no-repeat;
		}
		&._active {
			&::after {
				transform: rotate(-180deg);
			}
		}
		&._categories {
			span {
				display: none;
				&:last-child {
					display: block;
				}
			}
		}
	}
	// .search-page__categories
	&__categories {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 3;
	}
	//.search-page__input
	&__input {
		border-top: 2px solid #f2f2f2;
		border-bottom: 2px solid #f2f2f2;
		flex: 1 1 auto;
		.input {
			height: 100%;
		}
	}
}
//</.search-page>======================================================================

//<.categories-search>======================================================================
.categories-search {
	background-color: #fff;
	display: none;
	border: 1px solid #f3f3f3;

	&::after {
		content: "";
		background-color: #f68038;
		position: absolute;
		width: 100.3%;
		height: 4px;
		bottom: -1px;
		left: -1px;
		border-bottom: 0;
	}

	// .categories-search__row
	&__row {
		display: flex;
	}
	// .categories-search__column
	&__column {
		flex: 0 1 33.333%;
		padding: 27px 40px;
		border-right: 1px solid #f3f3f3;
		&:last-child {
			border: 0;
		}
		//PC-First md2+px
		@media (max-width: ($md4+px)) {
			padding: 15px 20px;
		}
	}
	// .categories-search__list
	&__list {
		li {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
	// .categories-search__link
	&__link {
		color: #999999;
	}
	// .categories-search__input
	&__input {
	}

	// .categories-search__checkbox
	&__checkbox {
		.checkbox__text {
			color: #999;
			&::before {
				display: none;
			}
		}
		.checkbox__input {
			&:checked + .checkbox__text {
				color: #f68038;
			}
		}
	}
}
//</.categories-search>======================================================================
.side-title {
	color: #dadada;
	font-size: 30px;
	text-transform: uppercase;
	// font-family: "UniSans";
	font-weight: 900;
	letter-spacing: 0.75px;
	//Mob-First md2+px
	@media (min-width: ($md2+px)) {
		&:hover {
			color: #1ab9ce;
		}
	}
}
//<.news-side>======================================================================
.news-side {
	background-color: #fff;
	border-radius: 5px;

	// .news-side__title
	&__title {
		display: inline-block;
		// отновительный отступ вниз
		margin: 0px 0px 25px/30px * 1em 0px;
	}
	// .news-side__items
	&__items {
	}
	// .news-side__item
	&__item {
		margin: 0px 0px 45px 0px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
//</.news-side>======================================================================

//<.news-item>======================================================================
.news-item {
	// .news-item__subtitle
	&__subtitle {
		display: inline-block;
		color: #333333;
		font-size: 12px;
		font-weight: 900;
		line-height: 18px;
		text-transform: uppercase;
		margin: 0px 0px 20px/12px * 1em 0px;
		//Mob-First $md2+px
		@media (min-width: ($md2+px)) {
			&:hover {
				color: #fd8322;
			}
		}
	}
	// .news-item__body
	&__body {
		display: flex;
	}
	// .news-item__date
	&__date {
		flex: 0 0 30px;
		text-align: center;
		font-size: 18px;
		font-weight: 300;
		color: #d8d8d8;
		span {
			display: block;
			font-size: 24px;
			font-weight: 900;
		}
	}
	// .news-item__text
	&__text {
		color: #666666;
		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
		padding: 0px 0px 0px 15px;
	}
}
//</.news-item>======================================================================

//<.reviews-side>======================================================================
.reviews-side {
	// .reviews-side__title
	background-color: #fff;
	border-radius: 5px;

	&__title {
		display: inline-block;
		// отновительный отступ вниз
		margin: 0px 0px 20px/30px * 1em 0px;
	}
	// .reviews-side__items
	&__items {
	}
	// .reviews-side__item
	&__item {
		display: inline-block;
		margin: 0px 0px 45px 0px;
		&:last-child {
			margin: 0;
		}
		//Mob-First $md2+px
		@media (min-width: ($md2+px)) {
			&:hover {
				.reviews-side__user,
				.reviews-side__data {
					color: #1ab9ce;
				}
				.reviews-side__body {
					border-radius: 5px;
					color: #fff;
					&::before {
						color: #64deee;
					}
					background-color: #1ab9ce;
				}
			}
		}
	}
	// .reviews-side__header
	&__header {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 10px 0px;
	}
	// .reviews-side__user
	&__user {
		color: #333;
		font-size: 12px;
		font-weight: 600;
		line-height: 18px;
		text-transform: uppercase;
	}
	// .reviews-side__data
	&__data {
		color: #999999;
		font-size: 12px;
		font-weight: 900;
		line-height: 18px;
		text-transform: uppercase;
	}
	// .reviews-side__body
	&__body {
		position: relative;
		padding: 15px 8px 15px 30px;
		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
		color: #666;
		&::before {
			color: #dadada;

			content: '"';
			position: absolute;
			top: 30px;
			left: 8px;
			font-weight: 900;
			font-size: 48px;
		}
	}
}
//</.reviews-side>======================================================================

//</ОСНОВНОЙ БЛОК>=================================
