//<ОСНОВНОЙ БЛОК>=================================

// ._arrow
._arrow {
	// flex: 0 0 50px;
	background: url("../img/icons/popular/sl_arrow-right-green.svg") 0 0 / contain no-repeat;
	width: 40px;
	height: 30px;
	cursor: pointer;
	//Mob-First $md2+px
	@media (min-width: ($md2+px)) {
		&:hover {
			transform: rotate(-180deg);
			background: url("../img/icons/popular/sl_arrow-left-orange.svg") 0 0 / contain no-repeat;
		}
	}
}
// ._arrow-next
._arrow_next {
}
// ._arrow-prev
._arrow_prev {
	transform: rotate(-180deg);
	//Mob-First $md2+px
	@media (min-width: ($md2+px)) {
		&:hover {
			transform: rotate(0deg);
		}
	}
}

//</ОСНОВНОЙ БЛОК>=================================

//<ГОТОВЫЕ КЛАССЫ>=================================
.row::after {
	display: block;
	content: "";
	clear: both;
}
.rub::after {
	content: "₽";
}
//=================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//=================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&::before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			width: 28px;
			height: 28px;
			top: 0;
			left: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			border: 1px solid #4274bb;
		}
	}
}
